In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [5]:
data = {
    'study_hours':[1,2,3,4,5],
    'marks':[35,40,50,60,70]
}
df = pd.DataFrame(data)
df

   study_hours  marks
0            1     35
1            2     40
2            3     50
3            4     60
4            5     70

In [ ]:
X = df['study_hours']
y = df['marks']

model = LinearRegression()
model.fit(X, y)
prediction = model.predit([[]])
print('Predicted marks ': prediction)